<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/layout-simples.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <form action="#" th:action="@{/fornecedores/create}" th:object="${fornecedor}" method="post">
                <div th:replace="fornecedores/form :: form"/>
            </form>
        </section>
        <th:block layout:fragment="script">
            <script>
                function sendAjaxRequest() {
                    var uf = $("#uf").val();
                    $.get( "/cidades/" + uf, function( data ) {
                        $("#cidades_id").empty();
                        data.forEach(function(item, i) {
                            var option = "<option value = " + item.id + ">" + item.nome +  "</option>";
                            $("#cidades_id").append(option);
                        });
                    });
                };

                $(document).ready(function() {
                    $("#uf").change(function() {
                        sendAjaxRequest();
                    });
                });
            </script>
        </th:block>
    </body>
</html>
